body {
  background-color: #ecdc2d;
}

.heading {
  font-weight: 800;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .heading {
    font-size: 1.3rem;
  }
}

.child-wrapper {
  position: relative;
  height: 100vh;
}

.blob-container-1 {
  position: absolute;
  left: -20%;
  top: 186px;
  z-index: -1;
  transition: all 3s;
  opacity: 0;
  scale: 0;
}
.blob-container-1.active {
  opacity: 100;
  scale: 1;
}

.blob-container-2 {
  position: absolute;
  right: -20%;
  top: 186px;
  z-index: -1;
  transition: all 3s;
  scale: 0;
}
.blob-container-2.active {
  opacity: 100;
  scale: 1;
}

.bb {
  border-bottom: solid 2px #000;
  padding-bottom: 5px;
}

.buttons {
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
.buttons:hover {
  padding: 10px 20px;
}

.modal-up {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7450980392);
}
.modal-up .heading {
  background-color: #66f171;
  padding: 10px;
  border-radius: 11px;
}

.form-group {
  font-family: "Poppins", sans-serif;
}
.form-group label {
  margin-bottom: 5px;
}
.form-group input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: solid 2px #000 !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
.form-group input.text-only {
  text-transform: capitalize;
}
.form-group input.invalid-input {
  border-color: #ff0000 !important;
  color: #ff0000 !important;
}
.form-group input.invalid-input::-moz-placeholder {
  color: #ff0000;
}
.form-group input.invalid-input::placeholder {
  color: #ff0000;
}

.main-container {
  height: 100vh;
  position: relative;
}
@media (max-width: 768px) {
  .main-container {
    overflow: hidden;
  }
}
.main-container .hero-container .hero-heading {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.main-container .main-con {
  padding: 30px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 11px;
  background-color: #fff;
}
.main-container .form-select {
  box-shadow: none !important;
  outline: none !important;
  border: none;
  border-bottom: solid 2px #000;
  border-radius: 0;
}

.con-b {
  box-shadow: 0px 0px 17px -4px #000000;
}

.slide-right {
  animation: slide-right 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes slide-right {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}
.exit {
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-5000px);
  }
  100% {
    display: none;
  }
}
.welcome-text {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  top: 0;
}

.exit-welcome {
  animation: slide-left-w 12s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-left-w {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 50;
  }
  60% {
    opacity: 40;
  }
  70% {
    opacity: 30;
    scale: 1;
  }
  80% {
    opacity: 0;
    scale: 9;
    transform: translateX(0vw);
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateX(-200vw);
  }
}/*# sourceMappingURL=style.css.map */