.slide-right {
  animation: slide-right 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes slide-right {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}
.exit {
  animation: slide-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-left {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }
  30% {
    opacity: 20%;
  }
  40% {
    opacity: 0%;
  }
  50% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  90% {
    transform: translateX(-5000px);
  }
  100% {
    display: none;
  }
}
.exit-welcome {
  animation: slide-left-w 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-left-w {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 50;
  }
  60% {
    opacity: 40;
  }
  70% {
    opacity: 30;
    scale: 1;
  }
  80% {
    opacity: 0;
    scale: 9;
    transform: translateX(0vw);
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateX(-200vw);
  }
}
.shake {
  animation: invalid-a 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes invalid-a {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  background-color: #ecdc2d;
}

.small {
  font-family: "Poppins", sans-serif;
}

.email {
  text-transform: none !important;
}

.email-code-v {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 10px;
}
.email-code-v::-moz-placeholder {
  letter-spacing: 2px;
}
.email-code-v::placeholder {
  letter-spacing: 2px;
}

.scale-up {
  transition: all 0.2s;
}
.scale-up p {
  text-transform: capitalize;
}
.scale-up:hover {
  scale: 1.1;
}
.scale-up:hover p {
  border: solid 2px #000;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
}

.heading {
  font-weight: 800;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .heading {
    font-size: 1.3rem;
  }
}

.child-wrapper {
  position: relative;
  height: 100vh;
}
@media (max-width: 768px) {
  .child-wrapper {
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px 0;
  }
}

.blob-container-1 {
  position: absolute;
  left: -20%;
  top: 186px;
  z-index: -2;
  transition: all 3s;
  opacity: 0;
  scale: 0;
}
.blob-container-1.active {
  opacity: 100;
  scale: 1;
}

.blob-container-2 {
  position: absolute;
  right: -20%;
  top: 186px;
  z-index: -1;
  transition: all 3s;
  scale: 0;
}
.blob-container-2.active {
  opacity: 100;
  scale: 1;
}

.thank-you-msg {
  display: none;
}
.thank-you-msg.active {
  display: block;
  animation: last-animation 5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  background-color: transparent;
  height: 500px;
  width: 100%;
  position: fixed;
  top: 0;
}
.thank-you-msg h2 {
  color: #000;
}

@keyframes last-animation {
  0% {
    scale: 0;
  }
  20% {
    scale: 0.2;
    transform: translateY(-10px);
  }
  22% {
    transform: translateY(10px);
  }
  24% {
    transform: translateY(-10px);
  }
  26% {
    transform: translateY(10px);
  }
  28% {
    transform: translateY(-10px);
  }
  29% {
    transform: translateY(10px);
  }
  30% {
    transform: translateY(-10px);
  }
  31% {
    transform: translateY(10px);
  }
  32% {
    transform: translateY(-10px);
  }
  33% {
    transform: translateY(10px);
  }
  34% {
    transform: translateY(-10px);
  }
  35% {
    transform: translateY(10px);
  }
  36% {
    transform: translateY(-10px);
  }
  37% {
    transform: translateY(10px);
  }
  38% {
    transform: translateY(-10px);
  }
  39% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-10px);
  }
  41% {
    transform: translateY(10px);
  }
  42% {
    transform: translateY(-10px);
  }
  43% {
    transform: translateY(10px);
  }
  44% {
    transform: translateY(-10px);
  }
  45% {
    transform: translateY(10px);
  }
  46% {
    transform: translateY(-10px);
  }
  47% {
    transform: translateY(10px);
  }
  48% {
    transform: translateY(-10px);
  }
  49% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  51% {
    transform: translateY(0);
    scale: 0.1;
  }
  60% {
    scale: 1;
  }
  65% {
    scale: 1.5;
  }
  70% {
    scale: 1;
  }
}
.bb {
  border-bottom: solid 2px #000;
  padding-bottom: 5px;
}

.buttons {
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
.buttons:hover {
  padding: 10px 20px;
}

.modal-up {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7450980392);
}
.modal-up .heading {
  background-color: #66f171;
  padding: 10px;
  border-radius: 11px;
}

.form-group {
  font-family: "Poppins", sans-serif;
}
.form-group label {
  margin-bottom: 5px;
}
.form-group input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: solid 2px #000 !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
.form-group input.text-only {
  text-transform: capitalize;
}
.form-group input.invalid-input {
  border-color: #ff0000 !important;
  color: #ff0000 !important;
}
.form-group input.invalid-input::-moz-placeholder {
  color: #ff0000;
}
.form-group input.invalid-input::placeholder {
  color: #ff0000;
}

.main-container {
  height: 100vh;
  position: relative;
}
.main-container.last-a {
  padding: 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .main-container {
    overflow: hidden;
  }
}
.main-container .hero-container .hero-heading {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.main-container .main-con {
  padding: 30px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 11px;
  background-color: #fff;
}
.main-container .form-select {
  box-shadow: none !important;
  outline: none !important;
  border: none;
  border-bottom: solid 2px #000;
  border-radius: 0;
}
.main-container .form-select.invalid-input {
  border-color: #ff0000;
  color: #ff0000;
}

.con-b {
  box-shadow: 0px 0px 17px -4px #000000;
}

.welcome-text {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  top: 0;
}/*# sourceMappingURL=style.css.map */