$yellow: #ecdc2d;
$black: #000;
$white: #fff;
$poppins: "Poppins", sans-serif;
$red: #ff0000;

@import './animations';

// globals

body {
	background-color: $yellow;
}

.small {
    font-family: $poppins;
}

.email {
    text-transform: none !important;
}

.email-code-v {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 10px;

    &::placeholder {
        letter-spacing: 2px;
    }
}

.scale-up {
    transition: all .2s;

    p {
        text-transform: capitalize;
    }

    &:hover {
        scale: (1.1); 

        p {
            border: solid 2px $black;
            background-color: $white;
            text-align: center;
            font-weight: 700;
        }
    }
}

.heading {
	font-weight: 800;
	font-size: 2rem;

	@media (max-width: 768px) {
		font-size: 1.3rem;
	}
}

.child-wrapper {
    position: relative;
    height: 100vh;

    @media (max-width: 768px) {
        margin-top: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 30px 0;
    }
}

.blob-container-1 {
    position: absolute;
    left: -20%;
    top: 186px;
    z-index: -2;
    transition: all 3s;
    opacity: 0;
    scale: (0);

    &.active {
        opacity: 100;
        scale: (1);
    }
}

.blob-container-2 {
    position: absolute;
    right: -20%;
    top: 186px;
    z-index: -1;
    transition: all 3s;
    scale: (0);

    &.active {
        opacity: 100;
        scale: (1);
    }
}

.thank-you-msg {
    display: none;

	&.active {
        display: block;
        -webkit-animation: last-animation 5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
        animation: last-animation 5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
        background-color: transparent;
        height: 500px;
        width: 100%;
        position: fixed;
        top: 0;
    }

    h2 {
        color: $black;
    }
}

@keyframes last-animation {
	0% {
        scale: (0);
	}
    20% {
        scale: (0.2);
        transform: translateY(-10px);
    }
    22% {
        transform: translateY(10px);
    }
    24% {
        transform: translateY(-10px);
    }
    26% {
        transform: translateY(10px);
    }
    28%{
        transform: translateY(-10px);
    }
    29% {
        transform: translateY(10px);
    }
    30% {
        transform: translateY(-10px);
    }
    31% {
        transform: translateY(10px);
    }
    32% {
        transform: translateY(-10px);
    }
    33% {
        transform: translateY(10px);
    }
    34% {
        transform: translateY(-10px);
    }
    35% {
        transform: translateY(10px);
    }
    36% {
        transform: translateY(-10px);
    }
    37% {
        transform: translateY(10px);
    }
    38% {
        transform: translateY(-10px);
    }
    39% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(-10px);
    }
    41% {
        transform: translateY(10px);
    }
    42% {
        transform: translateY(-10px);
    }
    43% {
        transform: translateY(10px);
    }
    44% {
        transform: translateY(-10px);
    }
    45% {
        transform: translateY(10px);
    }
    46% {
        transform: translateY(-10px);
    }
    47% {
        transform: translateY(10px);
    }
    48% {
        transform: translateY(-10px);
    }
    49% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }    
    51% {
        transform: translateY(0);
        scale: (0.1);
    }
    65% {
        scale: (1.5);
    }
    70% {
        scale: (1);
    }
}

.bb {
	border-bottom: solid 2px $black;
	padding-bottom: 5px;
}

.buttons {
	font-family: $poppins;
	transition: all 0.5s;

	&:hover {
		padding: 10px 20px;
	}
}

.modal-up {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    top: 0;
    background-color: #ffffffbe;

    .heading {
        background-color: #66f171;
        padding: 10px;
        border-radius: 11px;
    }
}

.form-group {
	font-family: $poppins;

	label {
		margin-bottom: 5px;
	}

	input {
		background-color: transparent !important;
		border: none !important;
		border-bottom: solid 2px $black !important;
		border-radius: 0 !important;
		outline: none !important;
		box-shadow: none !important;

        &.text-only {
            text-transform: capitalize;
        }

        &.invalid-input {
            border-color: $red !important;
            color: $red !important;
            
            &::placeholder {
                color: $red;
            }
        }
	}
}

.main-container {
	height: 100vh;
    position: relative;

    &.last-a {
        padding: 0;
        overflow: hidden;
    }

    @media (max-width: 768px) {
        overflow: hidden;
    }

	.hero-container {
		.hero-heading {
			color: $black;
			font-family: $poppins;
			font-weight: bold;
		}
	}

    .main-con {
		padding: 30px;
		height: fit-content;
		border-radius: 11px;
		background-color: $white;
	}

    .form-select {
        box-shadow: none !important;
        outline: none !important;
        border: none;
        border-bottom: solid 2px $black;
        border-radius: 0;

        &.invalid-input {
            border-color: $red;
            color: $red;
        }
    }
}

.con-b {
	-webkit-box-shadow: 0px 0px 17px -4px #000000;
	box-shadow: 0px 0px 17px -4px #000000;
}

.welcome-text {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 999;
    top: 0;
}
